*{
  font-family: "Sawarabi Mincho";
}
body{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  padding:0;
  margin: 0;
}
body::before {
  background:url('pic/background.jpg') no-repeat left top;
  background-size: 100% 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}


/* ロードアニメーション */
.load{
  background-color: #161e29;
  text-align: center;
  width:100%;
  height:100vh;
  position: relative;
  position: fixed;
  top:0;
  z-index:1000;
}
.container {
  position: absolute;
  top:50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  max-width: 1000px;
  margin: auto;
  display: flex;
  padding: 0 20px;
  justify-content: space-around;
}
.block {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  width: 45px;
  display: flex;
  flex-wrap: wrap;
}
.circle {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  margin: auto;
  animation-name: loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.circle:nth-child(1) {
  animation-delay: 0.2s;
}
.circle:nth-child(2) {
  animation-delay: 0.3s;
}
.circle:nth-child(3) {
  animation-delay: 0.4s;
}
.circle:nth-child(4) {
  animation-delay: 0.1s;
}
.circle:nth-child(5) {
  animation-delay: 0.2s;
}
.circle:nth-child(6) {
  animation-delay: 0.3s;
}
.circle:nth-child(7) {
  animation-delay: 0s;
}
.circle:nth-child(8) {
  animation-delay: 0.1s;
}
.circle:nth-child(9) {
  animation-delay: 0.2s;
}
@keyframes loading {
  20% {
    transform: scale(0.1);
  }
  40% {
    transform: scale(1);
  }
}


/* ハンバーガーメニュー */
.menu {
  display : block;
  position: fixed;
  z-index : 6;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.menu span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #fff;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.menu span:nth-child(1) {
  top: 10px;
}
.menu span:nth-child(2) {
  top: 20px;
}
.menu span:nth-child(3) {
  top: 30px;
}

/* OPEN後のボタン */
.menu.active {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition     : all 0.3s ease-in-out;
  transition        : all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay     : 0.6s;
  transition-delay        : 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform    : rotate(45deg);
  -o-transform     : rotate(45deg);
  transform        : rotate(45deg);
}
.menu.active span:nth-child(2){
  width: 0px;
}
.menu.active span:nth-child(1),
.menu.active span:nth-child(3){
  background :#fff;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.menu.active span:nth-child(1){
  -webkit-transform: translateY(4px);
  -ms-transform    : translateY(4px);
  -o-transform     : translateY(4px);
  transform        : translateY(4px);
}
.menu.active span:nth-child(3){
  -webkit-transform: translateY(-16px) rotate(90deg);
  -ms-transform: translateY(-16px) rotate(90deg);
  -o-transform : translateY(-16px) rotate(90deg);
  transform    : translateY(-16px) rotate(90deg);
}
nav.menu-after {
  position: fixed;
  z-index : 5;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 100%;
  height:100vh;
  display: none;
  transition: opacity .6s ease, visibility .6s ease;
}
nav.menu-after ul {
  margin: 0 auto;
  padding: 50px 0 0 0;
  width: 100%;
}
nav.menu-after ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.menu-after ul li:last-child {
  padding-bottom: 0;
}
nav.menu-after ul li:hover{
  background :#ddd;
}
nav.menu-after ul li a {
  display: block;
  color: #fff;
  padding: 30px 0;
  width:100%;
  text-decoration :none;
}
nav.menu-after ul li a:hover{
  color:#565656;
}

/* jQueryで付け替え */
nav.menu-after.active {
  display: block;
}


/* スクロールボタン */
#scroll{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 50px;
  opacity: 0.9;
}
#scroll a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
  background-color: #fff;
  border-radius:50% 0 0 50%;
}
#scroll a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: black;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#scroll a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  color: black;
}


/* HEADER */
header{
  width:100vw;
  max-width: 100vw;
  height:80px;
  text-align: center;
  background-color:#161e29;
  position: fixed;
  top:0;
  z-index: 5;
}
header img{
  width:80px;
  height:80px;
}

/* メッセージ */
.message{
  width: 100%;
  background-color: #F07E73;
  top:80px;
  position: fixed;
}
.message p{
  margin:0;
  color:white;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left:724px;
  display:inline-block;
  white-space:nowrap;
  animation-name:marquee;
  animation-timing-function:ease-in-out;
  animation-duration:10s;
  animation-iteration-count:infinite;
}
@keyframes marquee {
  from   { transform: translate(0%);}
  99%,to { transform: translate(-100%);}
}

/* メインコンテンツ */
.main-content{
  background-color: #fff;
  width:90%;
  height:auto;
  margin:0 5%;
  text-align: center;
  padding:100px 0 10px 0;
}
.main-content h1{
  color:white;
  background-color: #161e29;
  display: inline-block;
  padding:10px 15px;
  border-radius: 50px;
}

/* 分岐ボタン */
.menu-branch{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.menu-branch a{
  width:30%;
  padding:12px 0.5%;
  margin:0 1%;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color:#fff;
  background-color: #161e29;
  border-radius: 5%;
}
.menu-branch a i{
  font-size: 90px;
  margin-bottom: 10px;
}
/* GOOGLEMAP */
.main-content iframe{
  width:90%;
  padding:40px 5% 10px 5%;
  height:200px;
}

/* DETAIL */
.detail{
  width:90%;
  padding:0 5%;
  margin:20px 0;
}
.detail a{
  text-decoration: none;
  font-size: 20px;
  color:black;
  padding:10px 15px;
  box-shadow:  5px 5px 10px #ebebeb,
            -5px -5px 10px #ffffff;
}
.detail h4{
  font-size: 25px;
  margin:10px auto;
}
.detail p{
  font-size: 20px;
  margin:10px auto;
}




/* SNS */
.sns-container{
  width:80%;
  padding:40px 5%;
  margin:50px 5%;
  background-color: #fff;
}
.sns-container p{
  border-bottom: #161e29 3px solid;
}
.sns{
  display: flex;
  flex-wrap: wrap;
  width:100%;
}
.sns a{
  color:#fff;
  text-decoration: none;
  text-align: center;
  align-items: center;
  padding:10px 70px;
  font-size: 20px;
}
.sns a:nth-child(1){
  background: #00acee;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.sns a:nth-child(1):before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sns a:nth-child(1):hover:before,.sns a:nth-child(1):focus:before,.sns a:nth-child(1):active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.sns a:nth-child(1):hover{
  color:#00acee;
}

.sns a:nth-child(2){
  background-color: #CF2E92;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.sns a:nth-child(2):before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFDD83;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sns a:nth-child(2):hover:before,.sns a:nth-child(2):focus:before,.sns a:nth-child(2):active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.sns a:nth-child(2):hover{
  color:#CF2E92;
}


/* FOOTER */
footer{
  width:80%;
  padding:30px 10% 5px 10%;
  background-color: #161e29;
  color:white;
  display:flex;
  flex-direction: column;
  position: relative;
}
footer img{
  width:100px;
  height:100px;
  position: absolute;
  top:20px;
  right:20px;
}
footer p,footer a{
  margin:0;
  padding:5px 0;
  font-size: 12px;
  text-decoration: none;
  color:#fff
}
footer h4{
  margin: 0;
  padding-top: 20px;
}
footer h6{
  margin: 0;
}


