body{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  padding:0;
  margin: 0;
  height:100vh;
  background-repeat:no-repeat;
  background-position:50% 100%;
  background-image: url('pic/background.jpg');
  background-size:cover;
}


/* ロードアニメーション */
.load{
  background-color: #161e29;
  text-align: center;
  width:100%;
  height:100vh;
  position: relative;
  position: fixed;
  top:0;
  z-index:1000;
}
.container {
  position: absolute;
  top:50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  max-width: 1000px;
  margin: auto;
  display: flex;
  padding: 0 20px;
  justify-content: space-around;
}
.block {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  width: 45px;
  display: flex;
  flex-wrap: wrap;
}
.circle {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  margin: auto;
  animation-name: loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.circle:nth-child(1) {
  animation-delay: 0.2s;
}
.circle:nth-child(2) {
  animation-delay: 0.3s;
}
.circle:nth-child(3) {
  animation-delay: 0.4s;
}
.circle:nth-child(4) {
  animation-delay: 0.1s;
}
.circle:nth-child(5) {
  animation-delay: 0.2s;
}
.circle:nth-child(6) {
  animation-delay: 0.3s;
}
.circle:nth-child(7) {
  animation-delay: 0s;
}
.circle:nth-child(8) {
  animation-delay: 0.1s;
}
.circle:nth-child(9) {
  animation-delay: 0.2s;
}
@keyframes loading {
  20% {
    transform: scale(0.1);
  }
  40% {
    transform: scale(1);
  }
}


/* ハンバーガーメニュー */
.menu {
  display : block;
  position: fixed;
  z-index : 6;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.menu span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #fff;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.menu span:nth-child(1) {
  top: 10px;
}
.menu span:nth-child(2) {
  top: 20px;
}
.menu span:nth-child(3) {
  top: 30px;
}

/* OPEN後のボタン */
.menu.active {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition     : all 0.3s ease-in-out;
  transition        : all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay     : 0.6s;
  transition-delay        : 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform    : rotate(45deg);
  -o-transform     : rotate(45deg);
  transform        : rotate(45deg);
}
.menu.active span:nth-child(2){
  width: 0px;
}
.menu.active span:nth-child(1),
.menu.active span:nth-child(3){
  background :#fff;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.menu.active span:nth-child(1){
  -webkit-transform: translateY(4px);
  -ms-transform    : translateY(4px);
  -o-transform     : translateY(4px);
  transform        : translateY(4px);
}
.menu.active span:nth-child(3){
  -webkit-transform: translateY(-16px) rotate(90deg);
  -ms-transform: translateY(-16px) rotate(90deg);
  -o-transform : translateY(-16px) rotate(90deg);
  transform    : translateY(-16px) rotate(90deg);
}
nav.menu-after {
  position: fixed;
  z-index : 5;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 100%;
  height:100vh;
  display: none;
  transition: opacity .6s ease, visibility .6s ease;
}
nav.menu-after ul {
  margin: 0 auto;
  padding: 50px 0 0 0;
  width: 100%;
}
nav.menu-after ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.menu-after ul li:last-child {
  padding-bottom: 0;
}
nav.menu-after ul li:hover{
  background :#ddd;
}
nav.menu-after ul li a {
  display: block;
  color: #fff;
  padding: 30px 0;
  text-decoration :none;
}

/* jQueryで付け替え */
nav.menu-after.active {
  display: block;
}


/* HEADER */
header{
  width:100vw;
  max-width: 100vw;
  height:80px;
  text-align: center;
  background-color:#161e29;
  position: fixed;
  z-index: 5;
}
header img{
  width:80px;
  height:80px;
}

/* メインコンテンツ */
.main-content{
  background-color: #fff;
  width:85%;
  height:auto;
  margin:0 7.5%;
  text-align: center;
  padding:80px 0 10px 0;
}

/* 分岐ボタン */
.menu-branch{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.menu-branch a{
  width:35%;
  padding:12px 2.5%;
  margin: 50px 5% 0 5%;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color:#fff;
  background-color: #161e29;
  border-radius: 5%;
}
.menu-branch a i{
  font-size: 100px;
  margin-bottom: 10px;
}

/* お店について(キーワードになるとこをH1にする) */
/* メニュー */
.menu-container{
  width:90%;
  padding:100px 5%;
}
.menu-container h2 {
  position: relative;
  overflow: hidden;
  font-size: 30px;
  color:#161e29;
  padding: 1.5rem 2rem 1.5rem 100px;
  border: 2px solid #161e29;
}

.menu-container h2:before {
  position: absolute;
  top: -150%;
  left: -100px;
  width: 200px;
  height: 300%;
  content: '';
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  background: #161e29;
}

.menu-container h2 span {
  font-size: 50px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  padding-top: 3px;
  padding-left: 16px;
  color: #fff;
}
.online-menu{
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.online-menu img{
  width:90%;
  margin: 0 auto;
  height:auto;
  box-shadow:  5px 5px 10px #c7c7c7,-5px -5px 10px #ffffff;
}
.online-menu p{
  margin:0;
  padding:5px 0;
  letter-spacing: 2px;
}
.online-menu p:nth-child(2){
  font-size: 20px;
  font-weight: bold;
}
.online-menu p:nth-child(4){
  color:red;
}


/* 見出し */
.label {
  display: inline-block;
  position: relative;
  height: 45px;
  text-align: center;
  box-sizing: border-box;
  margin: 100px 0 10px 0;
}
.label:before{
  content: '';
  position: absolute;
  width: 10px;
  bottom: -10px;
  left: -35px;
  z-index: 1;
  border: 20px solid #262C51;
  border-left-color: transparent;
}
.label:after{
  content: '';
  position: absolute;
  width: 10px;
  bottom: -10px;
  right: -35px;
  z-index: 1;
  border: 20px solid #262C51;
  border-right-color: transparent;
}
.label h1{
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 20px;
  line-height: 45px;
  font-size: 18px;
  color: #FFF;
  background: #161e29;
  z-index: 2;
}
.label h1:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 10px transparent;
  border-right: solid 15px #262C51;
}
.label h1:after {
  position: absolute;
  content: '';
  top: 100%;
  right: 0;
  border: none;
  border-bottom: solid 10px transparent;
  border-left: solid 15px #262C51;
}

/* ABOUT-US */
.about-us{
  width:90%;
  padding:0 5%;
}
.about-us img{
  width: 100%;
  height: auto;
}
.about-us h4{
  text-align: left;
  width: 100%;
  border-bottom: #161e29 2px solid;
}
.about-us p{
  text-align: left;
  line-height: 28px;
  letter-spacing:2px;
}

/* お問い合わせ */
.contact-btn {
  margin:40px 0;
  padding: 0;
  text-align: center;
}
.contact-btn a {
  display: inline-block;
  width: 200px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid #161e29;
  color: #161e29;
  line-height: 50px;
  overflow: hidden;
}
.contact-btn a::before,.contact-btn a::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.contact-btn a,.contact-btn a::before,.contact-btn a::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.contact-btn a:hover {
  color: #fff;
}
.contact-btn a::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contact-btn a:hover::after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  background: #161e29;
}

/* SNS */
.sns-container{
  width:80%;
  padding:40px 5%;
  margin:50px 5%;
  background-color: #fff;
}
.sns-container p{
  border-bottom: #161e29 3px solid;
}
.sns{
  display: flex;
  flex-wrap: wrap;
  width:100%;
}
.sns a{
  color:#fff;
  text-decoration: none;
  text-align: center;
  align-items: center;
  padding:10px 70px;
  font-size: 20px;
}
.sns a:nth-child(1){
  background: #00acee;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.sns a:nth-child(1):before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sns a:nth-child(1):hover:before,.sns a:nth-child(1):focus:before,.sns a:nth-child(1):active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.sns a:nth-child(1):hover{
  color:#00acee;
}

.sns a:nth-child(2){
  background-color: #CF2E92;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.sns a:nth-child(2):before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFDD83;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sns a:nth-child(2):hover:before,.sns a:nth-child(2):focus:before,.sns a:nth-child(2):active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.sns a:nth-child(2):hover{
  color:#CF2E92;
}


/* GOOGLEMAP */
.map{
  width:80%;
  padding:20px 5%;
  margin:50px 5%;
  background-color: #fff;
}
.map iframe{
  width:100%;
  height:300px;
}


/* FOOTER */
footer{
  width:80%;
  padding:30px 10%;
  background-color: #161e29;
  color:white;
}

